{% extends "base.html" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<form method="POST">
    <h3 align="center">Inscription</h3>
    <div class="form-group">
        <label for="email">Adresse Email</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Entrez votre email" required>
    </div>
    <div class="form-group">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control" id="prenom" name="prenom" placeholder="Prénom" required>
    </div>
    <div class="form-group">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom" name="nom" placeholder="Nom" required>
    </div>
    <div class="form-group">
        <label for="password1">Mot de passe</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Entrez votre mot de passe" required>
    </div>
    <div class="form-group">
        <label for="password2">Mot de passe (Confirmation)</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirmez votre mot de passe" required>
    </div>

    <label for="date_de_naissance">Date de naissance :</label><br>
        <input type="date" id="date_de_naissance" name="date_de_naissance"><br><br>

        <label for="civilite">Civilité :</label><br>
        <select id="civilite" name="civilite">
            <option value="M.">M.</option>
            <option value="Mme">Mme</option>
            <option value="Mlle">Mlle</option>
        </select><br><br>

        <label for="genre">Genre :</label><br>
        <select id="genre" name="genre">
            <option value="Homme">Homme</option>
            <option value="Femme">Femme</option>
            <option value="Autre">Autre</option>
        </select><br><br>


    <br>
    <button type="submit" class="btn btn-primary">S'inscrire</button>
</form>
{% endblock %}
